@font-face {
	font-family: "Existence-Light";
	src: url(../fonts/Existence-Light/Existence-Light.otf) format("truetype");
}

@font-face {
	font-family: "Lato-Hairline";
	src: url(../fonts/lato_hairline/Lato-Hairline.ttf) format("truetype");
}

@font-face {
	font-family: "Lato-Light";
	src: url(../fonts/lato_light/Lato-Light.ttf) format("truetype");
}

.body {
	color: #676767;
	font-family: "Lato", sans-serif;
}

.container {
	margin: 0 auto;
	width: 80%;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

.promo-top {
	min-height: 670px;
	background: url(../img/background.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	text-align: center;
	color: #fff;
}

.promo-top h1 {
	margin-top: 0;
	padding-top: 90px;
	font-family: "Existence-Light", sans-serif;
	font-size: 4rem;
}

.promo-top h2 {
	margin-top: 76px;
	font-size: 1.7rem;
	font-family: "Lato-Hairline", sans-serif;
}

.promo-top p {
	margin-top: 23px;
	font-size: 1.1rem;
	line-height: 1.3rem;
	font-family: "Lato-Hairline", sans-serif;
	margin-bottom: 50px;
}

.promo-top span {
	color: #9f449b;
}

.promo-top ul {
	padding: 0;
	list-style: none;
}

.promo-top li {
	display: inline-block;
	color: #fff;	
}
.promo-top a {
	border-radius: 50%;
	display: table-cell;
	vertical-align: middle; 
	text-align: center; 
	border: 4px solid #ffffff;
	height: 100px;
	width: 100px;
	text-decoration: none;
	background-color: rgba(159, 68, 155, .7);	  
}

.promo-top a:hover, a:active {
	background-color: rgba(255, 255, 255, .4);

	/* border: 4px solid rgba(159, 68, 155, 1); */
}

.circle-menu-top li:first-child {
	margin-right: 5%;	
}

.circle-menu-top li:last-child {
	margin-left: 5%;
}

.circle-menu-bottom li:first-child {
	margin-right: 25%;
}

.circle-menu-bottom li:last-child {
	margin-left: 25%;
}

.circle-menu i {
	color: #fff;
	font-size: 2rem;
}

.circle-menu span {
	display: block;
	color: #fff;
	font-family: "Lato", sans-serif;
	font-size: 1rem;
}

.promo-bottom {
	box-sizing: border-box;
	min-height: 48px;
	padding-top: 9px;
}

.main-logo {
	float: left;
	width: 30%;
}

.main-logo a {
	font-family: "Existence-Light", sans-serif;
	font-size: 1.1rem;
	color: #676767;	
}

.main-logo > a > span {
	color: #9f449b;	
}

.main-nav {
	float: right;
	width: 70%;
}

.nav-menu {
	padding: 0;
}

.main-nav ul {
	float: right;
	margin: 0;
}

.main-nav li {
	display: inline-block;
	list-style-type: none;
	margin-right: 25px;
}

.main-nav li:last-child {
	margin-right: 0;
}
.main-nav a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1rem;
	font-family: "Lato-Light", sans-serif;
	color: #676767;
	transition: all .5s;
}

.main-nav a:hover {
	color: #9f449b;	
}

.teams {
	min-height: 500px;
	background: #eee;
}

.teams-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	padding-top: 60px;
}

.teams-list li:hover {
	color: #9f449b;
}

.teams-item {
	float: left;
	width: 30%;
	margin: 0 1.66%;
	text-align: center;
	padding-top: 210px;
}

.dynamo-team {
	background: url(../img/Dynamo-logo-resize.svg) top center no-repeat;
}

.milan-team {
	background: url(../img/Milan-logo-resize.svg) top center no-repeat;
}

.chelsea-team {
	background: url(../img/Chelsea-logo-resize.svg) center 20% no-repeat;
}

.teams-list h2 {
	font-family: "Lato-Light", sans-serif;
	font-size: 1.1rem;
	line-height: 1.3rem;
	padding-bottom: 5px;
}

.teams-list p {
	font-family: "Lato-Light", sans-serif;
	font-size: 0.9rem;
	line-height: 1.4rem;
}

.statistics {
	min-height: 500px;
	padding-top: 80px;
}

.statistics h2 {
	color: #676767;
	width: 40%;
	margin: 0 auto;
	text-align: center;
	font-family: "Existence-Light", sans-serif;
	font-size: 2rem;
	position: relative;
	margin-bottom: 80px;
}

.statistics h2 span {
	color: #9f449b;	
}

.statistics h2:before {
	content:" ";
	height: 29px;
	width: 29px;
	border-left: 1px solid #9f449b;
	border-bottom: 1px solid #9f449b;
	display: inline-block;
	position: absolute;
	top: 55%;
  left: 15%;
}

.statistics h2:after {
	content:" ";
	height: 29px;
	width: 29px;
	border-right: 1px solid #9f449b;
	border-top: 1px solid #9f449b;
	display: inline-block;
	position: absolute;
	top: -55%;
	right: 15%;
}

.stats-left {
	text-align: center;
	width: 30%;
	float: left;
	margin-right: 10%;
	margin-bottom: 40px;
}

.stats-left img {
	height: 399px;
}

.stats-right {
	float: right;
	width: 60%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.table {
	margin: 0 0 20px;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.table .first {
	padding-left: 1%;
}

.table th {
	font-family: "Lato-Light", sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-size: .91rem;
}
td, th {
	vertical-align: top;
}

.table th,
.table td {
	padding: 4px 5px;
	font-family: "Lato-Light", sans-serif;
	font-size: 0.73rem;
}

.table .alt td {
	background: #eee;
}

.table .bull {
	font-weight: bold;
}

.career td {
	border-right: 1px solid #999;
}

.table .noBorder {
	border: none;
}

.table td.bull a {
	display: inline-block;
	text-decoration: none;
	color: #676767;
}

.bull a {
	background-image: url(../img/arrow.png);
	padding: 0 0 0 12px;
	background-repeat: no-repeat;
	background-position: 0 4px;
}

.table .last {
	padding-right: 10px;
}

.table .total {
	background: #e4d6f9;
	font-weight: bold;
}

.stats-right .btn {
	margin-top: 33px;
	margin-bottom: 40px;
	box-sizing: border-box;
	display: inline-block;
	background-color: #9f449b;
	border-radius: 5px;
	height: 70px;
	line-height: 36px;
	padding: 12px 58px;
	font-family: "Lato", sans-serif;
	font-size: 20px;
	border-bottom: #6b2e68 4px solid;
	color: #fff;
	text-decoration: none;
}

.bio {
	min-height: 500px;
	background: url(../img/chelsea-shevchenko-changed-res.jpg) top center no-repeat;
}

.bio-info {
	box-sizing: border-box;
	padding-top: 250px;
	text-align: center;
	color: #fff;
}

.bio-info i {
	font-size: 4rem;
}

.bio-info h2 {
	padding-top: 20px;
	font-family: "Lato-Light", sans-serif;
	font-size: 2rem;
	letter-spacing: 2px;
}

.bio-timelines li {
	list-style-type: none;
	margin-bottom: 5px;
}

.bio-list li i {
	margin-right: 5px;
}

.bio-list .bio-date {
	color: #995ff0;
}
